body {
  margin: 0px;
  font-family: 'Oswald';
  color: #eee;
}

h1, h2, h3 {
  margin: 0px;
  padding: 0px;
}

button {
  width: 120px;
  height: 36px;
  margin: 2px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #eee;
  background: #333;
}

.dashboard {
  background-color: #485562;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 8fr 2fr;
}

.dashboard__content {
  height: 100%;
  overflow: hidden;
  background-color: #485562;
}

.dashboard__user-panel {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.match_lists {
  display: grid;
  grid-template-rows: 75px auto;
  max-height: 600px;
  align-items: center;
}

.match_new, .match_rejoin {
  display: grid;
  grid-template-rows: 10fr;
}

.chat {
  display: grid;
  grid-template-rows: 1fr 9fr 1fr;
  background: radial-gradient(#fff, #eee);
}

.match_leaders {
  background: radial-gradient(#eee,#fff);
}

.dashboard__content-header {
  z-index: 2;
  height: 80px;
}

.dashboard__content-modules {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  padding: 8px;
}

.dashboard__section-header {
  height: 32px;
  width: 100%;
  background-image: radial-gradient(
    circle at center left,
    #f15a4a,
    transparent 60%
  );
  margin-top: 8px;
  margin-bottom: 8px;
}
.dashboard__section-header h3 {
  font-size: 18px;
  line-height: 32px;
  padding-left: 8px;
  text-transform: uppercase;
  color: #eee;
  text-shadow: 1px 1px 2px #14151b;
}